* {
    box-sizing: border-box;
    margin: 0;
}

.parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    

     width: 100%;  /* vw: viewport */
     height: 1000px;
     border: 3px solid hotpink;
}

.child1{
    width: 100px;
    height: 100px;
    background-color: red;
    /* flex-basis: 30%; */
}

.child2{
    width: 100px;
    height: 100px;
    background-color: orange;
    /* flex-basis: 50%; */
}

.child3{
    width: 100px;
    height: 100px;
    background-color: blue;
    /* flex-basis: 20%; */
}